.divinput {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: 0.4s;
}

.input:focus, input:hover {
  outline: none;
  border-color: #ec6825;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: .5rem;
}

